KharkovskiFinalProject/Debug/
KharkovskiFinalProject/.vs/
KharkovskiFinalProject/KharkovskiFinalProject/Debug/
KharkovskiFinalProject/KharkovskiFinalProject/KharkovskiFinalProject.vcxproj
KharkovskiFinalProject/KharkovskiFinalProject/KharkovskiFinalProject.vcxproj.filters
KharkovskiFinalProject/KharkovskiFinalProject/KharkovskiFinalProject.vcxproj.user